@charset "UTF-8";

	body {
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	    background-position: top;
	    background-image:url("https://espc.com.vn/data/media/1595/images/M%C3%B9%20Cang%20Ch%E1%BA%A3i.png");
	    width: 100%;
	    height: 100%;
	    font-family: Comic Sans MS, Times New Roman, Helvetica;
	    letter-spacing: 0.02em;
	    -webkit-font-smoothing: antialiased; 
   }

	.form-input {
		margin-left: 30%;
		margin-top: 10%;
		border: 0;
		width: 500px;
		height: 300px;
		background: inherit;
		border-radius: 25px 125px 25px 125px;
		overflow: hidden;
		box-shadow: inset 0 0 0 200px rgba(255,255,255,0.17);
	}

	.name_table {
		color: rgb(12, 31, 12);
		font-style: italic;
		font-size: 20px;
		font-weight: bold;
		padding-left: 27%;
		padding-top: 5%;
	}
	
	table {
		color: rgb(8,8,8);
		padding-left: 16%;
	}

	input {
		opacity: 0.8;
		border-radius: 8px;
		border: 0;
		text-align: center;
	}
	
	.submit-reset {
		padding-left: 35%;
		padding-bottom: 5%;
	}
	
	.submit, .reset {
		border: solid 1px;
		width: 60px;
	}
	
	.submit:hover, .reset:hover {
		background-color: rgb(194, 245, 193);
		font-weight: bold;
	}
	
	.nameproject {
		color: rgb(12, 31, 12);
		font-style: italic;
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	button {
	 border-radius: 8px;
	 border: solid 1px;
	}
	
	button:hover {
		background-color: rgb(194, 245, 193);
		font-weight: bold;
	}
	
	a {
		text-decoration: none;
	}
	
	.menu-button {
		margin-left: 30px;
		margin-bottom: 0px;
	}